*.class
*.jar
large_data/
jm_server/.settings/
jm_server/.project
jm_server/.classpath
jm_local/.settings/
jm_local/.project
jm_local/.classpath
.metadata/
RemoteSystemsTempFiles/
Servers/
jm_local/bin/
jm_server/build/
jm_server/WebContent/home/test.css
jm_server/WebContent/home/test.jsp
jm_server/WebContent/home/testscr.js
