.jie_data_box {
	font-size: 12px;
	font-family: "calibri";
	width:200px;
	float:left;
	clear:both;
	border-color: rgba(10, 10, 10);
	background: rgba(0, 0, 0, 0.1);	
}

.jdbx_bao_data_box {
	width:200px;
	float:left;
	clear:both;
}

.jdbx_url_data_box {
	width:200px;
	float:left;
	clear:both;
}

.jdbx_jie_head {
	width:200px;
	float:left;
	clear:both;
}

.jdbx_jie_content {
	display: none;
	width:200px;
	float:left;
	clear:both;
}

.jdbx_jie_desc {
	margin-left: 2px;
	width:182px;
	float:left;
	clear:both;
}

.jdbx_jie_desc_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.jdbx_jie_desc_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 170px;
    resize: none;
}

.jdbx_jie_desc_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_jie_head_ctr {
	background-image: url(icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_jie_head_content {
	margin-top: 1px;
	width:170px;
	float:left;
}

.jdbx_jie_head_content_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.jdbx_jie_head_content_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 170px;
    resize: none;
}

.jdbx_jie_head_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_bao_head {
	width:200px;
	float:left;
	clear:both;
}

.jdbx_bao_content {
	display: none;
	width:200px;
	float:left;
	clear:both;
}

.jdbx_bao_desc {
	margin-left: 5px;
	width:179px;
	float:left;
	clear:both;
}

.jdbx_bao_desc_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.jdbx_bao_desc_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 165px;
    resize: none;
}

.jdbx_bao_desc_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_bao_head_ctr {
	background-image: url(icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_bao_head_content {
	margin-top: 1px;
	width:167px;
	float:left;
}

.jdbx_bao_head_content_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;	
}

.jdbx_bao_head_content_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 170px;
    resize: none;
}

.jdbx_bao_head_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_new_bao_box {
	height:15px;
	width:167px;
	float:left;	
	cursor:pointer;
	margin-left: 5px;
	margin-bottom: 2px;
}

.jdbx_new_bao_box_text_content_p {
	margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 0px;			
}

.jdbx_url_head {
	width:200px;
	float:left;
	clear:both;
}

.jdbx_url_content {
	display: none;
	width:200px;
	float:left;
	clear:both;
}

.jdbx_url_desc {
	margin-left: 8px;
	width:176px;
	float:left;
	clear:both;
}

.jdbx_url_desc_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;	
}

.jdbx_url_desc_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 165px;
    resize: none;
}

.jdbx_url_desc_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_url_head_ctr {
	background-image: url(icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 8px;
    margin-right: 2px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_url_head_content {
	margin-top: 1px;
	width:164px;
	float:left;
}

.jdbx_url_head_content_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;	
}

.jdbx_url_head_content_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 160px;
    resize: none;
}

.jdbx_url_head_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_new_url_box {
	height:15px;
	width:167px;
	cursor:pointer;
	float:left;	
	margin-left: 8px;
	margin-bottom: 2px;
}

.jdbx_new_url_box_text_content_p {
	margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 0px;		
}
