.jie_data_box {
	font-size: 14px;
	font-family: "calibri";
	width:100%;
	padding:4px;
	float:left;
	clear:both;
}

.jdbx_jie_head {
	height:20px;
	width:100%;
	float:left;
	clear:both;
}

.jdbx_jie_head_ctr {
	background-image: url(icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
	width:20px;
	height:20px;
	float:left;
}

.jdbx_jie_head_content {
	margin-top: 0px;
	width:calc(100% - 4px - 4px - 20px - 2px - 2px - 20px - 2px - 2px);
	float:left;
}

.jdbx_jie_head_content_p {
	font-weight: bold;
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.jdbx_jie_head_content_e {
	font-size: 12px;
	font-family: "calibri";
	height: calc(20px - 4px - 4px - 2px - 2px - 2px);
    width:calc(100% - 5px);
    resize: none;
}

.jdbx_jie_head_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
	width:20px;
	height:20px;
	float:left;
}

.jdbx_jie_content {
	margin-top: 4px;
	display: none;
	width:100%;
	float:left;
	clear:both;
}

.jdbx_jie_desc {
	margin-top: 0px;
	margin-left: 0px;
	width: calc(100% - 4px - 4px - 2px - 20px - 2px - 2px);
	float:left;
	clear:both;
}

.jdbx_jie_desc_p {
	font-size: 12px;
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.jdbx_jie_desc_e {
	font-size: 12px;
	font-family: "calibri";
	height: 40px;
    width: calc(100% - 5px);
}

.jdbx_jie_desc_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
	width:20px;
	height:20px;
	float:right;
}

.jdbx_bao_data_box {
	width:100%;
	padding-left:10px;
	float:left;
	clear:both;
}

.jdbx_bao_head {
	height:20px;
	width:100%;
	float:left;
	clear:both;
}

.jdbx_bao_head_ctr {
	background-image: url(icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
	width:20px;
	height:20px;
	float:left;
}

.jdbx_bao_head_content {
	margin-top: 0px;
	width:calc(100% - 10px - 20px - 2px - 2px - 20px - 2px - 2px);
	float:left;
}

.jdbx_bao_head_content_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;	
}

.jdbx_bao_head_content_e {
	font-size: 12px;
	font-family: "calibri";
	height: calc(20px - 10px - 2px - 2px - 2px);
    width:calc(100% - 5px);
    resize: none;
}

.jdbx_bao_head_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
	width:20px;
	height:20px;
	float:left;
}

.jdbx_bao_content {
	margin-top: 2px;
	display: none;
	width:100%;
	float:left;
	clear:both;
}

.jdbx_bao_desc {
	margin-top: 0px;
	margin-left: 0px;
	width: calc(100% - 10px - 6px - 20px - 2px - 2px);
	float:left;
	clear:both;
}

.jdbx_bao_desc_p {
	font-size: 12px;
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.jdbx_bao_desc_e {
	font-size: 12px;
	font-family: "calibri";
	height: 40px;
    width: calc(100% - 5px);
    resize: none;
}

.jdbx_bao_desc_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
	width:20px;
	height:20px;
	float:right;
}

.jdbx_new_bao_box {
	height:20px;
	margin-left: 5px;
	margin-bottom: 10px;
	width: calc(100% - 5px);
	float:left;	
	cursor:pointer;
}

.jdbx_new_bao_box_text_content_p {
	margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;			
}

.jdbx_url_data_box {
	width:100%;
	float:left;
	clear:both;
}

.jdbx_url_head {
	width:200px;
	float:left;
	clear:both;	
}

.jdbx_url_content {
	display: none;
	width:200px;
	float:left;
	clear:both;
}

.jdbx_url_desc {
	margin-left: 8px;
	width:176px;
	float:left;
	clear:both;
}

.jdbx_url_desc_p {
	font-size: 10px;
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;	
}

.jdbx_url_desc_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 165px;
    resize: none;
}

.jdbx_url_desc_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_url_head_ctr {
	background-image: url(icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 8px;
    margin-right: 2px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_url_head_content {
	margin-top: 1px;
	width:164px;
	float:left;
}

.jdbx_url_head_content_p {
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;	
}

.jdbx_url_head_content_e {
	font-size: 12px;
	font-family: "calibri";
	height: 15px;
    width: 160px;
    resize: none;
}

.jdbx_url_head_edit {
	background-image: url(icons/brush.svg);
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
	width:10px;
	height:10px;
	float:left;
}

.jdbx_new_url_box {
	height:15px;
	width:167px;
	cursor:pointer;
	float:left;	
	margin-left: 8px;
	margin-bottom: 2px;
}

.jdbx_new_url_box_text_content_p {
	margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 0px;		
}
