body {
	font-family: Helvetica;
	margin:0px;
}

#map_container {
	height:100%;
	width:100%;
	position:fixed;
	top: 0px;
	left: 0px;
}

#top {
	position:fixed;
	width: calc(100%);
	top: 10px;
	left: 10px;
	width: 100%;	
}
	
#top #logo {
	width: 180px;
	height: 70px;	
	float: left;
}
	
#top #jie_query {
	float: left;
	margin-left: 10px;
	margin-top: 22px;
	width: calc(100% - 10px - 10px - 20px - 2px - 2px - 180px - 80px);
	height:25px;
}

#top #search_btn {
	float: left;
	margin-top: 22px;
	margin-right: 20px;
    width: 80px;
    height:30px;
}

#bottom {
	position:fixed;
	width:100%;
	text-align: center;
	bottom: 0px;
}

#map_controls {
	width:80px;
	height:30px;
	position: fixed;
	top: 75px;
	left: 25px;
}

#map_controls #up { 
	background-image: url(icons/arrow-oblique-expand.svg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
	display: block; 
	height: 30px; 
	width: 30px; 
}
	
#map_controls #down { 
	background-image: url(icons/arrow-oblique-contract.svg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
	display: block; 
	height: 30px; 
	width: 30px;
}

#new_jie_controls {
	height:30px;
	width:60px;
	position: fixed;
	top: 75px;
    right: 20px;
}

#new_jie_controls #new_jie_btn { 
	background-image: url(icons/plus.svg);
    background-repeat: no-repeat;
    background-size: cover;
	display: block; 
	height: 30px; 
	width: 30px; 
	float: right
}

#new_jie_controls #save_new_jies_btn { 
	background-image: url(icons/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
	display: none; 
	height: 30px; 
	width: 30px; 
	float: left
}

#show_map_controls {
	height:30px;
	width:30px;
	position: fixed;
	top: 120px;
    right: 20px;
}

#show_map_data { 
	background-image: url(icons/list-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
	display: block; 
	height: 30px; 
	width: 30px; 
	float: left
}

#map_data {
	height:auto;
	max-height:70%;
	width:35%;
	position: fixed;
	display:none;
	top: 150px;
    right: 0px;
    margin-right:20px;
	overflow: hidden;
	overflow-y: auto;
}

